@charset "UTF-8";

/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #f4f4f4;
}

nav ul li a {
    color: #000000; /* Cor do texto dos links "Menu", "Pedidos" e "Contato" */
}

#contact h2,
.titulo h2,
#order h2 {
    color: #141414; /* Cor do título */
}

#contact p {
    color: #141414; /* Cor do parágrafo */
}

#contact a {
    color: #0004ff; /* Cor do link (e-mail) */
}

#contact a:hover {
    text-decoration: underline; /* Efeito ao passar o mouse sobre o link */
}

header {
    background-color: #23c1dd;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #23c1dd;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    background-color: #060739;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    flex: 1 1 calc(33.333% - 20px); /* Tamanho responsivo */
    max-width: calc(33.333% - 20px);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item img {
    width: 100%; /* Altera para ocupar toda a largura do contêiner */
    height: 200px; /* Tamanho fixo para todas as imagens */
    object-fit: cover; /* Mantém a proporção e corta as imagens, se necessário */
    border-radius: 5px;
}

.menu-item h3 {
    margin: 10px 0 5px;
}

.menu-item p {
    margin: 0 0 10px;
}

.menu-item span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.menu-item button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-item button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #23c1dd;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    text-align: center;
}

footer .container {
    width: 80%;
    margin: 0 auto;
}
